<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">


    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:mongodb-test.properties"/>
    </bean>

    <mongo:repositories base-package="com.learn.*.repositories"
                        base-class="repositories.TribalcRepositoryImpl"/>
    <mongo:mongo-client id="mongoClient" host="${mongodb.host}" port="${mongodb.port}" credentials="${mongodb.credentials}"/>
    <mongo:db-factory dbname="${mongodb.database}" mongo-ref="mongoClient" authentication-dbname="admin"/>
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg ref="mongoDbFactory" />
    </bean>
</beans>