<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory >

        <!--1,数据库连接信息-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://rm-uf60l22y07fvoy8i7o.mysql.rds.aliyuncs.com:3306/itronys?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull&amp;useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">WSjava&amp;&amp;aliyun2</property>

        <!--2,其他配置-->
        <!--2.1数据库方言-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <!--2.2显示sql-->
        <property name="hibernate.show_sql">true</property>
        <!--2.3格式化输出-->
        <property name="hibernate.format_sql">true</property>
        <!--2.4自动建表-->
        <property name="hbm2ddl.auto">update</property>

        <!--3,加载映射-->
        <!--<mapping resource="Employee.hbm.xml"/>-->
        <mapping resource="User.hbm.xml"/>
        <mapping class="cn.itcast.a_hello.Employee"/>
    </session-factory>
</hibernate-configuration>