<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<file>/app/phoenix-log/server.out</file>
		<encoder>
			<pattern>[@sss@][%d][%t][%C][%p][%m]%n</pattern>
		</encoder>
	</appender>
	
	<logger name="org.quartz.core.QuartzSchedulerThread" level="INFO" />
	<logger name="org.apache.http" level="INFO" />
	<logger name="org.springframework.beans.factory.support" level="INFO" />
	<logger name="org.springframework.jdbc" level="INFO" />
	<logger name="org.mybatis.spring.transaction" level="INFO" />

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
